# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron build output
dist/
out/

# Optional cache folders
.cache/
.temp/

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*.swp

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.*

# Electron-packager / electron-builder artifacts
/build/
*.log
*.tgz

# Others
*.tsbuildinfo
